.jumbotron {
  padding-top: 6rem;
  background-color: #f3f5bc;
}

#projects {
  background-color: #f3f5bc;
}
section {
  padding-top: 5rem;
}
.contact {
  padding-top: 6rem;
  background-color: #f3f5bc;
}
